<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.8">
    <title>О нас</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">О нас</h1>
    <p class="lead">Добро пожаловать на наш сайт! Мы — команда разработчиков из разных уголков мира, работающая над увлекательными
        проектами.</p>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>