<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма для студента</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Форма для студента</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} <!-- Отображение полей формы -->
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'Students:student_list' %}">Отмена</a>
        </form>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>