{% extends 'Students/base.html' %}

{% block title %}Список студентов{% endblock %}

{% block content %}
{% include 'Students/header.html' %}
<h2>Список студентов</h2>
<ul class="list-group">
    {% for student in students %}
    <li class="list-group-item">
        {{ student.first_name }} {{ student.last_name }} - {{ student.year }}
        {% if perms.students.can_promote_student %}
            <button>Перевести студента</button>
        {% endif %}

        {% if perms.students.can_expel_student %}
            <button>Исключить студента</button>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}